
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}
nav li {
    margin-left:5%;
}
nav a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Solway';
    color: #202421;
    font-size: 40px;
}
nav a:hover {
    font-size: 45px;
}
nav a:active {         /*HFHFHDHFH*/
    font-size: 45px;
}



.backgroud {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    position: relative;
    text-align: center;
}
.pages {
    display: flex;
    flex-direction: row;
}


.left-page {
    display: flex;
    flex-direction: column
}
h1 {               /* contents */
    position: absolute;
    top: 15%;
    left: 22%;
    text-decoration: underline;
    font-family: 'Solway';
    color: #202421;
    font-size: 50px;
}
.nav-bar {
    position: absolute;
    top: 23%;
    left: 22%;
}


.right-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.me {
    /*position: absolute;*/
    top: 30%;          
    right: 22%;
}
h2 {                        /*"Hi I'm Julia*/
    top: 480px;
    right: 280px;
    font-family: 'Solway';
    color: #202421;
    font-size: 30px;
}
p {
    font-family: 'Solway';
    color: #202421;
    font-size: 20px;
    width: 25%;
    text-align: left;
    /* transform: translateX(38vw); */
}
.links {
    display: flex;
    flex-direction: row;
}
#g, #p {
    width: 50px;
    height: 50px;
    padding: 20px;
}

  





#carousel, .carousel-image {
  width: 500px;
  height: 400px;
}
#carousel {
    position: relative;
    overflow: hidden;
}
#carousel-image-row {
    display: flex;
    flex-direction: row;

    position: relative;
    left: 0px;
  
    transition: 0.3s left;
}
.carousel-image img {
    height: 100%;
    width: auto;
}
.hidden {
    visibility: hidden;
}
#carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    z-index: 1;
}
#button-next, #button-previous {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}		
