
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
nav {
    display: flex;
    flex-direction: column;
}
nav li {
    margin-left:100px;
}
nav a {
    font-family: 'Solway';
    color: #202421;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover {
    font-size: 50px;
}
nav a:active {
    font-size: 150%;
}

body {
    background-color: #F7F4F4;
}

.floor {
    background-color: #E3D9D9;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    z-index: -1;  /*bottom layer*/
}

.sections {
    display: flex;
    flex-direction: row;
}

.shelf {
    position: absolute;
    margin: 2%;     /*on either side*/
    width: 26%;    /*total adds to 30%*/
}

#lamp {
    width: 20%;        /*percentages within the 70% of the row*/
}
#chair {
    width: 30%;
}
#mug {
    width: 40%;
    align-content: center;
}
#steam {
    width: 30%;
}
#stand {
    width: 80%;
}
#plants2 {
    width: 30%;
}
#window {
    width: 20%;
    margin-right: 5%;
    position: relative;
}
#window img {
    position: absolute;
    top: 20px;
} 
#plants1 {
    width: 20%;
}
#floating {
    width: 30%;
    top: 15%;
}

.rows {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    flex-direction: row;
    position: absolute; /*for the whole row, not positioning individual images*/
    top: 0;
    right: 0;
    width: 70%;
    height: 30%;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    position: absolute; /*for the whole row*/
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
}

.table-stand {
    display: flex;
    flex-direction: column;
    width: 20%;
}

@keyframes swirl {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        opacity: 0.5;
        transform: translateY(-10px);
    }
}

#steam:hover {
    animation: swirl 2s 0s infinite;
}



