
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
}
nav li {
   /* margin-left: 7%; */
    padding: 27px;
}
.nav-bar {
    z-index: 1;
    position: relative;
    transform: translate(7%, 40%);
}
nav a {
    font-family: 'Solway';
    color: #202421;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover {
    font-size: 45px;
}
.selected {
    font-weight: bold;
}




body {
    background-color: #F7F4F4;
    overflow: hidden;
}
.floor {
    background-color: #E3D9D9;
    left: 0;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    z-index: -1;  /*bottom layer*/
}



.sections {
    display: flex;
    flex-direction: row;
}

.shelf {
    z-index: 0;
    transform: translateY(5%);
    position: absolute;
    margin: 2%;     /*on either side*/
    width: 26%;    /*total adds to 30%*/
    top: 5%;
}

.rows {
    display: flex;
    flex-direction: column;
}


.top-row {
    display: flex;
    flex-direction: row;
    position: absolute; /*for the whole row, not positioning individual images*/
    top: 0;
    right: 0;
    width: 70%;
    height: 30%;
}                                    /* window:40 + plants1:25 + floating: 35*/
#window {
    /*position: relative;
    top: 20%;*/
    width: 23%;
    margin-left: 17%;
    transform: translateY(8vh);
}
/* #window img {
    position: absolute;
    top: 20px;
} */
#plants1 {
    width: 20%;
    margin-left: 5%;
}
#floating {
    width: 25%;
    margin: 5%; /* on both sides adds up*/
    transform: translateY(15vh);
    /*position: relative;
    top: 30%;*/
}


.bottom-row {
    display: flex;
    flex-direction: row;
    position: absolute; /*for the whole row*/
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
}
#lamp {
    position: relative;
    width:18%;        /*percentages within the 70% of the row*/
    margin: 1%;
    top: 5%;
}                                               /* lamp:20 + chair:30 + table-stand:20 + plants2:30*/
#button {
    position: absolute;
    width: 20%;
    top: 38%;
    left: 46%;
}
#chair {
    width: 30%;
    transform: translateY(18vh);
}
.table-stand {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 2%;
    transform: translateY(22vh);
    align-items: center;
}
#mug {
    width: 40%;
    margin-left: 8%;
    transform: translateY(3vh);
}
#steam {
    width: 30%;
    transform: translateY(3vh);
}
#stand {
    width: 80%;
}
#plants2 {
    width: 27%;
    margin-right: 3%;
    transform: translateY(18vh);
}





@keyframes swirl {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-10px);
        opacity: 0;
    }
}

#steam {
    z-index: 1000;
}

#steam:hover {
    animation: swirl 3s ease-in-out 0s infinite alternate;
}



